# Node.js
node_modules/
dist/
.env
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
.tox/
.nox/
.cache/

# IDEs
.vscode/
.idea/
